ul li::before {
  color: #A259FF;
}

body {
  background-size:contain;
}

ol li::before {
  color: #A259FF;
}

.write-up {
  background: white;
  color: black;
}

.intro {
  color: white;
  /* background: #8840E3; */
  background: linear-gradient(to bottom, #642AAD 0%, #8840E3 100%);
}

h2 {
  color: #D9BBFF;
}

.text h2 {
  color: #A259FF;
}

b {
  color: #F24E1E;
}

#new {
  color: #F24E1E;
  /* background-color: #FFCA41; */
  /* width: 103px; */
}

#caption {
  color: #EE6C49;
}

#feature {
  color: #5615A8;
  bottom: 0;
}

.nav h1, .nav h3 {
  color: #A259FF;
}

.footer-box {
  background-color: #FF3A00;
}

footer a {
  color: white;
}

/* .offset {
  background-color: none;
} */

.intro-offset {
  height: 30px;
  background-color: none;
}

footer a:hover {
  color: white;
}

ul {
  padding-top: 10px;
}
