.write-up {
  /* background: linear-gradient(to bottom, #00321F 0%, #007E4E 100%); */
  background: white;
  color: #002517;
}

.intro {
  background: linear-gradient(to bottom, #002517 0%, #085134 100%);
  color: #002517;
  color: white;
}

.intro h2 {
  color: #A7EBD0;
}

.offset {
  background: none;
}

.nav h1, .nav h3 {
  color: #00321F;
}

.text h2 {
  color: #109360;
}

body {
  background-size:cover;
}

b {
  color: #109360;
}

.footer-box {
  background-color: #002517;
}
