/* SETUP */

/* BODY */
body {
  background-color: white;

}

.nav h1, .nav h3 {
  color: #ABEBFF;
}
#overlay {
  z-index: 1;
}

.intro {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  background: linear-gradient(to bottom, #005a77 0%, #087da2 100%);
}

/* BOXES */

.boxes {
  width: 100%;
}

.project-box {
  position:static;
  top: 100px;
  width: 200px;
  height: 120px;
}

/* HOR */
.project-hor {
  display: inline-flex;
  padding: 1% 20%;
}

#project-text-hor {
  width: 100%;
}
#project-text-hor h2 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#project-image-hor img {
  position: relative;
  padding: 1% 0;
  width: 60%;
}

#project-text-hor p {
  bottom: 0;
  width: 90%;
  margin: 0;
  padding-bottom: 5%;
}

/* VERT */
#project-image-vert {
  width: 100%;
  flex-basis: 40%;
}

#project-image-vert img {
  align: right;
  padding: 0 0;
  width: 100%;
}

img {
  padding: 0;
}

/* TEXT */
h1 {
  display: block;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 25px;
  /* padding-top: 5%; */
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #ABEBFF;
}

h3 {
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
  font-family: Karla;
  font-weight: normal;
}

.text {
  position: relative;
  width: 60%;
  margin: auto;
  top: 20px;
  /* padding: 0 0 1%; */
}

.text h2 {
  font-family: Karla;
  font-size: 1.75rem;
  position: relative;
  text-align: left;
  color: #087DA2;
  /* bottom: 10px; */
}

.text p {
  position: relative;
  text-align: left;
  font-family: Karla;
  line-height: 150%;
  letter-spacing: .25px;
  /* bottom: 20px; */
}

p, li, h3 {
  font-size: 1.1rem;
}

li {
  font-family: Karla;
  line-height: 150%;
  position: relative;
  padding: 1% 0 0 5%;
  width: 90%;
  list-style-type: none;
  bottom: 20px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #087DA2; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* blue */
b {
  font-family: Karla;
  font-weight: 900;
  color: #087DA2;
}

#feature {
  font-style:italic;
  color: #005A77;
  font-size: 1.5rem;
  bottom: 10px;
}

#new {
  font-size: 1rem;
  color: #EE6C49;
  font-family: Karla;
}

#caption {
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  color: #EE6C49;
  font-family: Karla;
  margin: auto;
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}

#dark {
  background: white;
}

#wide-foot {
  width: 10%;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.footer-box {
  background-color: #005a77;
}
